@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1440px;
}

.primary-700 {
  color: #36be21;
}

.primary-900 {
  color: #37a027;
}

.grayscale-600 {
  color: #b8b8b8;
}

.grayscale-700 {
  color: #7a7a7a;
}

.grayscale-800 {
  color: #292929;
}

.grayscale-900 {
  color: #141414;
}

.white {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
}

h1 {
  font-size: 3.635rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.625rem;
  font-weight: 600;
}

h4 {
  font-size: 1.375rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  font-family: "Raleway", sans-serif;
}

a:hover {
  color: #36be21;
  text-decoration: none;
}

.py-section {
  margin-top: 120px;
}

#header {
  background-color: #141414;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-bottom: 100px;
}

#header .navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

#header .navbar-light .navbar-nav .active > .nav-link,
#header .navbar-light .navbar-nav .nav-link.active,
#header .navbar-light .navbar-nav .nav-link.show,
#header .navbar-light .navbar-nav .show > .nav-link {
  color: #36be21;
}

#header .nav-item {
  padding-left: 24px;
}

#header .nav-button {
  margin-left: 24px;
}

#header .button {
  border-radius: 30px;
  border: 2px solid #36be21;
  padding: 12px 32px;
}

.h-1 {
  margin-top: 100px;
  line-height: 80px;
}

#We .p-1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 40px;
}

#We .numbers {
  margin-left: 150px;
}

#attributes .p-2 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

#attributes .attr_img {
  margin-left: 40px;
}

.team-enroll-text-wrapper {
  background-color: #36be21;
  height: 280px;
  width: 100%;
}

.item {
  position: relative;
}

.item:hover .post {
  opacity: 1;
}

.post {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  cursor: pointer;
}

.masonry-item-img-sm {
  height: 200px;
}

.masonry-item-img-md {
  height: 240px;
}

.masonry-item-img-lg {
  height: 260px;
}

.masonry-item-img-xl {
  height: 320px;
}

.item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.masonry-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
}

.masonry-col-item3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60%;
}

.pt-10 {
  padding-top: 10rem !important;
}

#footer {
  background-color: #292929;
  padding: 60px 0;
}

#footer .p-footer {
  font-weight: 600;
}

#footer .footer_email {
  font-size: 1.125rem;
  font-weight: 600;
}

#footer .footer_links {
  font-size: 0.875rem;
  font-weight: 500;
}

#footer .footer_inner {
  margin-left: 12px;
}

#footer .footer_inner2 {
  margin-left: 65px;
}

#footer .footer_inner3 {
  margin-left: 40px;
}

@media screen and (max-width: 985px) {
  #We .numbers {
    margin-left: 0;
  }
  #attributes .attr_img {
    margin-left: 0;
  }
  #footer .footer_inner,
  #footer .footer_inner2,
  #footer .footer_inner3 {
    margin: 0;
  }
  #footer .main {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=main.css.map */