@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import "./base/typography";
@import "./base/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1440px;
}

.primary-700 {
  color: $primary-700;
}

.primary-900 {
  color: $primary-900;
}

.grayscale-600 {
  color: $grayscale-600;
}

.grayscale-700 {
  color: $grayscale-700;
}

.grayscale-800 {
  color: $grayscale-800;
}

.grayscale-900 {
  color: $grayscale-900;
}

.white {
  color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-head;
}

h1 {
  font-size: 3.635rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.625rem;
  font-weight: 600;
}

h4 {
  font-size: 1.375rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  font-family: $font-family-base;
}

a:hover {
  color: $primary-700;
  text-decoration: none;
}

.py-section {
  margin-top: 120px;
}

@mixin p-1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 40px;
}

@mixin p-2 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

@mixin p-3 {
  font-size: 1.375rem;
  font-weight: 500;
}

#header {
  background-color: $grayscale-900;
  font-family: $font-family-base;
  font-weight: 600;
  padding-bottom: 100px;

  .navbar-light .navbar-nav .nav-link {
    color: $white;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: $primary-700;
  }

  .nav-item {
    padding-left: 24px;
  }

  // nav button

  .nav-button {
    margin-left: 24px;
  }
  .button {
    border-radius: 30px;
    border: 2px solid $primary-700;
    padding: 12px 32px;
  }
}

.h-1 {
  margin-top: 100px;
  line-height: 80px;
}

#We {
  p {
    @include p-1;
  }

  .numbers {
    margin-left: 150px;
  }
}

#attributes {
  p {
    @include p-2;
  }

  .attr_img {
    margin-left: 40px;
  }
}

//teams

.team-enroll-text-wrapper {
  background-color: $primary-700;
  height: 280px;
  width: 100%;
}
.item {
  position: relative;
}

.item:hover .post {
  opacity: 1;
}

.post {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grayscale-900;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1000ms;
  cursor: pointer;
}

.masonry-item-img-sm {
  height: 200px;
}
.masonry-item-img-md {
  height: 240px;
}
.masonry-item-img-lg {
  height: 260px;
}

.masonry-item-img-xl {
  height: 320px;
}

.item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.masonry-col {
  flex: 0 0 auto;
  width: 20%;
}
.masonry-col-item3 {
  flex: 0 0 auto;
  width: 60%;
}
.pt-10 {
  padding-top: 10rem !important;
}

//footer

#footer {
  background-color: $grayscale-800;
  padding: 60px 0;

  .p-footer {
    font-weight: 600;
  }

  .footer_email {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .footer_links {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .footer_inner {
    margin-left: 12px;
  }
  .footer_inner2 {
    margin-left: 65px;
  }

  .footer_inner3 {
    margin-left: 40px;
  }
}

//Light Header
#lheader {
  font-family: $font-family-base;
  font-weight: 600;
  padding-bottom: 100px;

  .navbar-light .navbar-nav .nav-link {
    color: $grayscale-800;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: $primary-700;
  }

  .nav-item {
    padding-left: 24px;
  }

  // nav button

  .nav-button {
    margin-left: 24px;
  }
  .button {
    border-radius: 30px;
    border: 2px solid $primary-700;
    padding: 12px 32px;
  }

  p {
    @include p-3;
  }
}

//tab

#tab {
  .active {
    color: $grayscale-900;
  }

  .inactive {
    color: $grayscale-700;
  }

  .nav-tabs .nav-link {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .nav-tabs {
    border-bottom: none;
  }

  .portfolio {
    position: relative;
    overflow: hidden;

    &:hover .p-image {
      transform: scale(1.3);
    }
  }

  .p-header {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $white;
  }

  .p-image {
    transition: transform 2s ease-in-out;
  }

  .view {
    position: absolute;
    top: 400px;
  }

  .mm {
    display: inline-block;
  }
}

//media queries

@media screen and (max-width: 985px) {
  #We .numbers {
    margin-left: 0;
  }

  #attributes .attr_img {
    margin-left: 0;
  }

  #footer {
    .footer_inner,
    .footer_inner2,
    .footer_inner3 {
      margin: 0;
    }

    .main {
      margin-top: 40px;
    }
  }
} ;
