@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import "./base/typography";
@import "./base/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1440px;
}

.primary-700 {
  color: $primary-700;
}

.primary-900 {
  color: $primary-900;
}

.grayscale-700 {
  color: $grayscale-700;
}

.grayscale-800 {
  color: $grayscale-800;
}

.grayscale-900 {
  color: $grayscale-900;
}

.white {
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-head;
}

h1 {
  font-size: 3.635rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.625rem;
  font-weight: 600;
}

h4 {
  font-size: 1.375rem;
  font-weight: 600;
}

p {
  font-family: $font-family-base;
}

a:hover {
  color: $primary-700;
  text-decoration: none;
}

.py-section {
  margin-top: 120px;
}

#header {
  background-color: $grayscale-900;
  font-family: $font-family-base;
  font-weight: 600;
  padding-bottom: 100px;

  .navbar-light .navbar-nav .nav-link {
    color: $white;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: $primary-700;
  }

  .nav-item {
    padding-left: 24px;
  }

  // nav button

  .nav-button {
    margin-left: 24px;
  }
  .button {
    border-radius: 30px;
    border: 2px solid $primary-700;
    padding: 12px 32px;
  }
}

.h-1 {
  margin-top: 100px;
  line-height: 80px;
}

#We {
  .p-1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 40px;
  }

  .numbers {
    margin-left: 150px;
  }
}

#attributes {
  .p-2 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 28px;
  }

  .attr_img {
    margin-left: 40px;
  }
}

//teams

.team_images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;

  margin-top: 120px;

  .img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .item-2 {
    padding-top: 80px;
  }

  .item-3 {
    padding-bottom: 160px;
  }

  .item-4 {
    padding-bottom: 30px;
  }

  .item-5 {
    padding-top: 250px;
  }

  .item-6 {
    margin-top: -500px;
  }
  .item-7 {
    margin-top: -420px;
  }

  .item-8 {
    margin-top: -540px;
  }

  .item-9 {
    margin-top: -480px;
  }
  .item-10 {
    margin-top: -230px;
  }

  .item-11 {
    margin-top: -990px;
  }

  .join {
    grid-column: span 3;
    background-color: $primary-700;
    margin-top: -335px;
    height: 350px;
  }
  .p-3 {
    font-size: 1.375rem;
    font-weight: 600;
  }

  .item-12 {
    margin-top: -740px;
  }

  .item-13 {
    margin-top: -1490px;
  }

  .item-14 {
    margin-top: -1260px;
  }

  .item-15 {
    margin-top: -1195px;
  }

  .item-16 {
    margin-top: -1310px;
  }
  .item-17 {
    margin-top: -1250px;
  }

  .item-18 {
    margin-top: -1450px;
  }

  .item-19 {
    margin-top: -1170px;
  }

  .item-20 {
    margin-top: -1040px;
  }

  .item-21 {
    margin-top: -1270px;
  }

  .item-22 {
    margin-top: -1210px;
  }
}

//media queries

@media screen and (max-width: 985px) {
  #We .numbers {
    margin-left: 0;
  }

  #attributes .attr_img {
    margin-left: 0;
  }
} ;
